html {
  background: lightcyan;
}

#app {
  width: 250px;
  background: white;
  margin: 50px auto 0 auto;
  text-align: center;
  padding: 30px 0;
}

.screen, .mini-screen {
  margin: 0 auto 5px auto;
  border: 1px solid lightgray;
  width: 197px;
  height: 40px;
  text-align: right;
  line-height: 40px;
  padding-right: 5px;
}

.mini-screen {
  color: lightgrey;
  font-size: 15px;
}

.screen {
  color: black;
  font-size: 45px;
}

input:focus {
  outline: none;
}

button {
  width: 40px;
  height: 40px;
  margin: 5px;
}

button:focus {
    outline: none;
}

.selected {
  border: 1px solid black;
}