/*
 ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}
/* end of Clearfix */

html {
  background: #f5f5f5;;
}

#app {
  width: 375px;
  height: 667px;
  background: white;
  margin: 50px auto 0 auto;
  text-align: center;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  border: 10px solid black;
  box-shadow: 3px 2px 4px 0 rgba(0, 0, 0, 0.2), 
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.wrapper {
  margin: 0 40px 130px 40px;
}

.menu-bar {
  margin: 30px 0;
  font-size: 20px;
}

.fa-bars {
  float: left;
}

.fa-undo {
  float: right;
}

.screen, .mini-screen {
  margin: 0 auto;
  text-align: right;
}

.mini-screen {
  color: lightgrey;
  font-size: 15px;
  height: 30px;
}

.screen {
  font-size: 80px;
  height: 75px;
  line-height: 70px;
}

input:focus {
  outline: none;
}

button {
  width: 80px;
  height: 80px;
  margin: 5px;
  border: none;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

button:focus {
    outline: none;
}

[data-type='number'] {
  font-weight: 400;
}

.selected {
  border: 1px solid black;
}

.row button {
  font-size: 40px;
  height: 55px;
  width: 70px;
}

footer {
  text-align: center;
  margin: 50px auto 0 auto;
  color: #bfbfbf;
  font-size: 10px;
  font-weight: 300;
  font-family: 'Helvetica Neue';
}

footer a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}